<h1>
  Welcome to {{title}}!
  <br />

  <div>
  <input [(ngModel)]="firstNumAdd">
  <!-- <br/> -->
  +
  <input [(ngModel)]="secondNumAdd">
  <button (click)=performAddition();createAddEquation() > = </button>
  <span *ngIf="resultVal">
    {{equationAdd}}
  </span>
</div>

<div>
  <input [(ngModel)]="firstNumSubtract">
  <!-- <br/> -->
  -
  <input [(ngModel)]="secondNumSubtract">
  <button (click)=performSubtraction();createSubtractEquation() > = </button>
  <span *ngIf="resultVal">
    {{equationSubtract}}
  </span>
</div>

<div>
  <input [(ngModel)]="firstNumMultiply">
  <!-- <br/> -->
  *
  <input [(ngModel)]="secondNumMultiply">
  <button (click)=performMultiplication();createMultiplyEquation() > = </button>
  <span *ngIf="resultVal">
    {{equationMultiply}}
  </span>
</div>

<div>
  <input [(ngModel)]="firstNumDivide">
  <!-- <br/> -->
  /
  <input [(ngModel)]="secondNumDivide">
  <button (click)=performDivision();createDivideEquation() > = </button>
  <span *ngIf="resultVal">
    {{equationDivide}}
  </span>
</div>

</h1>
<!-- input type='button' -->